@using WebApplication21.Models
@model List<customer>


@*<strong>@Html.DisplayFor(x => x.customername, new { @class = "form-control w-50" }) @Html.DisplayFor(x => x.customersurname, new { @class = "form-control w-50" })</strong>*@
@foreach (var item in Model)
{
    <strong>@item.customername @item.customersurname</strong>
}
<p><small>@HttpContext.Current.User.Identity.Name</small></p>