@model WebApplication21.Models.products

@{
    ViewBag.Title = "productadd";
    Layout = "~/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("productadd", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form class="form-group" method="post">
    @Html.LabelFor(x => x.productsname)
    @Html.TextBoxFor(x => x.productsname, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productmarka)
    @Html.TextBoxFor(x => x.productmarka, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productavailable)
    @Html.TextBoxFor(x => x.productavailable, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productimg)
    @*@Html.TextBoxFor(x => x.productimg, new { @class = "form-control mb-2" })*@
    <input type="file" name="productimg" class="form-control" />


    @Html.LabelFor(x => x.Categoryid)
    @Html.DropDownListFor(x => x.Categoryid, (List<SelectListItem>)ViewBag.listim, new { @class = "form-control" })<br />
    @*@Html.TextBoxFor(x => x.Categoryid, new { @class = "form-control mb-2" })*@

    @Html.LabelFor(x => x.productstock)
    @Html.TextBoxFor(x => x.productstock, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productstprice)
    @Html.TextBoxFor(x => x.productstprice, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productndprice)
    @Html.TextBoxFor(x => x.productndprice, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productndprice)
    @Html.TextBoxFor(x => x.productndprice, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productndprice)
    @Html.TextBoxFor(x => x.productndprice, new { @class = "form-control mb-2" })

    @Html.LabelFor(x => x.productndprice)
    @Html.TextBoxFor(x => x.productndprice, new { @class = "form-control mb-2" })

    @*@Html.LabelFor(x => x.productcolor)
    @Html.TextBoxFor(x => x.productcolor, new { @class = "form-control mb-2" })*@
    <button class="btn btn-primary">Submit</button>
</form>
}