@using WebApplication21.Models
@model List<basket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Shared/layoutviews.cshtml";

}
<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="header-wrap header-space-between">
            <div class="logo logo-width-1">
                <a href="~/Homeindex/Index"><img src="~/Content/storage/general/logom.png" alt="Device Raptors"></a>
            </div>
            @Html.Action("parcat", "Homeindex")
            <div class="header-action-right">
                <div class="header-action-2">


                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/basket/Index">
                            <img alt="Cart" src="~/Content/images/icons/icon-cart.svg">
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <a href="~/basket/Index" class="text-center" style="font-weight:bolder; color: var(--color-warning)">Let's see your basket</a>
                        </div>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/customerpanel/Index">
                            <img alt="Sign In" src="~/Content/images/icons/icon-user.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom header-bottom-bg-color sticky-bar gray-bg sticky-blue-bg">
    <div class="container">
        <div class="header-wrap header-space-between position-relative main-nav">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="index.html"><img src="~/Content/storage/general/logo-light.png" alt="Device Raptors"></a>
            </div>
            <div class="main-categories-wrap d-none d-lg-block">
                <a class="categories-button-active" href="#">
                    <span class="fa fa-list"></span> Browse Categories <i class="down far fa-chevron-down"></i> <i class="up far fa-chevron-up"></i>
                </a>
                @Html.Action("parcat1", "Homeindex")
            </div>

            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block main-menu-light-white hover-boder hover-boder-white">
                <nav>
                    <ul>
                        <li class="">
                            <a href="~/Homeindex/Index" class="active" target="_self">
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Homeindex/Shop" target="_self">
                                Shop
                            </a>

                        </li>


                        <li class="">
                            <a href="contact.html" target="_self">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fa fa-phone-alt"></i><span>Hotline</span> 1900 - 888</p>
            </div>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">

                    @*<div class="header-action-icon-2">
                            <a href="wishlist.html">
                                <img alt="wowy" src="~/Content/images/icons/icon-heart-white.svg">
                                <span class="pro-count white"> <span>0</span></span>
                            </a>
                        </div>*@
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/customersale/Index">
                            <img alt="wowy" src="~/Content/images/icons/icon-cart-white.svg">
                            <span class="pro-count white">0</span>
                        </a>
                        @*<div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <span>No products in the cart.</span>
                            </div>*@
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/Homeindex/login">
                            <img alt="wowy" src="~/Content/images/icons/icon-user-white.svg">
                        </a>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </header>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb" itemscope="">
                <a href="~/Homeindex/Index" itemprop="item" title="Home">
                    Home
                    <meta itemprop="name" content="Home">
                    <meta itemprop="position" content="1">
                </a>
                <span></span>
                Shopping Cart
                <meta itemprop="name" content="Shopping Cart">
                <meta itemprop="position" content="2">
            </div>
        </div>
    </div>
    <div class="container">
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12 section--shopping-cart">
                        <form action="~/basket/basketcheck/">

                            <table class="table shopping-summery text-center clean table--cart">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td class="image product-thumbnail">
                                                <a href="~/productview/Index/@item.prodid">
                                                    <img src="@item.prodimg" alt="@item.prodname.Substring(0,10)...">
                                                </a>
                                            </td>
                                            <td class="product-des product-name">
                                                <p class="product-name"><a href="~/productview/Index/@item.prodid">@item.prodname</a></p>
                                                @*<p class="mb-0"><small>(Color: Blue, Size: XXL)</small></p>*@
                                            </td>
                                            <td class="price" data-title="Price">
                                                <span>$@item.price</span>
                                                @*<small><del>$241.00</del></small>*@
                                            </td>
                                            <td class="text-center" data-title="Quantity">
                                                <div class="detail-qty border radius  m-auto">
                                                    <input name="quantity" value="@item.quantity" />
                                                </div>
                                            </td>
                                            <td class="text-right" data-title="Subtotal">
                                                <span>$@item.subtotoal</span>
                                            </td>
                                            <td class="action">
                                                <a href="~/basket/removebask/@item.prodid" class="text-muted "><i class="fa fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn btn-rounded" href="~/Homeindex/shop"><i class="far fa-cart-plus mr-5"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fa fa-gem"></i></div>
                        <div class="row mb-50">
                            @*<div class="col-lg-6 col-md-12">
                                    <div class="mb-30 mt-50">
                                        <div class="heading_s1 mb-3">
                                            <h4>Apply Coupon</h4>
                                        </div>
                                        <div class="total-amount">
                                            <div class="left">
                                                <div class="coupon form-coupon-wrapper">
                                                    <div class="form-row row justify-content-center">
                                                        <div class="form-group col-lg-6">
                                                            <input class="font-medium coupon-code" type="text" name="coupon_code" value="" placeholder="Enter coupon code">
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <button class="btn btn-rounded btn-sm btn-apply-coupon-code" type="button" data-url="https://wowy.botble.com/coupon/apply"><i class="far fa-bookmark mr-5"></i>Apply</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius-10 cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Total</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                @Html.Action("basketresult", "basket")
                                            </tbody>
                                        </table>
                                    </div>
                                    @*<button type="submit" name="checkout" class="btn btn-rounded"> <i class="fa fa-share-square mr-10"></i> Proceed To Checkout</button>*@
                                  

                                        <button>Proceed to checkout</button>
                                        
                        </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @Html.Action("alsolike", "basket")
    </div>
</main>






