

@{
    ViewBag.Title = "Index";

    var cookie = Request.Cookies["users"];

    Layout = "~/Shared/layoutindex.cshtml";

}

<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="header-wrap header-space-between">
            <div class="logo logo-width-1">
                <a href="~/Homeindex/Index"><img src="~/Content/storage/general/logom.png" alt="Wowy - Laravel Multipurpose eCommerce Script"></a>
            </div>
            @Html.Action("parcat", "Homeindex")
            <div class="header-action-right">
                <div class="header-action-2">

                    @*<div class="header-action-icon-2">
                        <a href="wishlist.html" class="wishlist-count">
                            <img class="svgInject" alt="Wishlist" src="~/Content/images/icons/icon-heart.svg">
                            <span class="pro-count blue"> <span>0</span></span>
                        </a>
                    </div>*@
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="cart.html">
                            <img alt="Cart" src="~/Content/images/icons/icon-cart.svg">
                           
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <a href="~/basket/Index" class="text-center" style="font-weight:bolder; color: var(--color-warning)">Let's see your basket</a>
                        </div>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/customerpanel/Index">
                            <img alt="Sign In" src="~/Content/images/icons/icon-user.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="header-bottom header-bottom-bg-color sticky-bar gray-bg sticky-blue-bg">
    <div class="container">
        <div class="header-wrap header-space-between position-relative main-nav">
            <div class="logo logo-width-1 d-block d-lg-none">">
                <a href="~/Homeindex/Index"><img src="~/Content/storage/general/logo-light.png" alt="Wowy - Laravel Multipurpose eCommerce Script"></a>
            </div>
            <div class="main-categories-wrap d-none d-lg-block">
                <a class="categories-button-active open  cant-close " href="#">
                    <span class="fa fa-list"></span> Browse Categories <i class="down far fa-chevron-down"></i> <i class="up far fa-chevron-up"></i>
                </a>
                @Html.Action("parcat11", "Homeindex")
            </div>
            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block main-menu-light-white hover-boder hover-boder-white">
                <nav>
                    <ul>
                        <li class="">
                            <a href="~/Homeindex/Index" class="active" target="_self">
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Homeindex/Shop" target="_self">
                                Shop
                            </a>

                        </li>
                        

                        <li class="">
                            <a href="~/Homeindex/contact" target="_self">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fa fa-phone-alt"></i><span>Hotline</span> 1900 - 888</p>
            </div>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="compare.html" class="compare-count">
                            <img class="svgInject" alt="Compare" src="~/Content/images/icons/icon-compare-white.svg">
                            <span class="pro-count white"><span>0</span></span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="wishlist.html">
                            <img alt="wowy" src="~/Content/images/icons/icon-heart-white.svg">
                            <span class="pro-count white"> <span>0</span></span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="cart.html">
                            <img alt="wowy" src="~/Content/images/icons/icon-cart-white.svg">
                            <span class="pro-count white">0</span>
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <span>No products in the cart.</span>
                        </div>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="login.html">
                            <img alt="wowy" src="~/Content/images/icons/icon-user-white.svg">
                        </a>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
<main class="main">
    <div>
        <section class="home-slider position-relative mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                @Html.Action("parslider", "Homeindex")

                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-md-none d-lg-block wdiff">
                        @Html.Action("sliderright", "Homeindex")
                    </div>
                </div>
            </div>
        </section>
    </div><div>
        <section id="product-collections" class="product-tabs pb-30 wow fadeIn   animated" style="visibility: visible;">
            <div class="container" title="Exclusive Products">
                <ul role="tablist" class="nav nav-tabs"><li role="presentation" class="nav-item"><button data-bs-toggle="tab" data-bs-target="#new-arrival" type="button" role="tab" aria-controls="new-arrival" aria-selected="true" class="nav-link active">New Arrival</button></li><li role="presentation" class="nav-item"><button data-bs-toggle="tab" data-bs-target="#best-sellers" type="button" role="tab" aria-controls="best-sellers" aria-selected="true" class="nav-link">Best Sellers</button></li>@*<li role="presentation" class="nav-item"><button data-bs-toggle="tab" data-bs-target="#special-offer" type="button" role="tab" aria-controls="special-offer" aria-selected="true" class="nav-link">Special Offer</button></li>*@</ul>
                <div class="tab-content wow fadeIn" style="visibility: visible;">
                    @Html.Action("latest", "homeindex")
                    @Html.Action("bestseller", "homeindex")

                </div>
            </div>
        </section>
    </div>
    @Html.Action("banpartial", "Homeindex")
    <div>
        <section class="featured section-padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated h-100 ">
                            <div class="banner-icon">
                                <img src="~/Content/storage/general/icon-truck.png" alt="icon">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Shipping</h3>
                                <p>Orders $50 or more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated h-100 ">
                            <div class="banner-icon">
                                <img src="~/Content/storage/general/icon-purchase.png" alt="icon">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free Returns</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated h-100 ">
                            <div class="banner-icon">
                                <img src="~/Content/storage/general/icon-bag.png" alt="icon">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                <p>When you sign up</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-md-3 mb-lg-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated h-100 ">
                            <div class="banner-icon">
                                <img src="~/Content/storage/general/icon-operator.png" alt="icon">
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Support Center</h3>
                                <p>24/7 amazing services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @*<div>
            <section class="popular-categories bg-grey-9 section-padding-60" id="featured-product-categories">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title mb-30">Top Categories</h3>
                    <featured-product-categories-component url="index.html"></featured-product-categories-component>
                </div>
            </section>
        </div>*@
    @*<div>
            <section class="section-padding-60" id="featured-products">
                <div class="container wow fadeIn animated">
                    <h3 class="section-title style-1 mb-30">Featured products</h3>
                    <featured-products-component url="index.html?limit=8"></featured-products-component>
                </div>
            </section>
        </div>*@<div>
            <section class="deals mb-60" id="flash-sale-products">
                <div class="container">
                    <flash-sale-products-component url="index.html?limit=2"></flash-sale-products-component>
                </div>
            </section>
            <div class="modal fade custom-modal" id="flash-sale-modal" data-id="flash-sale-id-1" tabindex="-1" aria-labelledby="onloadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="modal-body">
                            <div class="deal" style="background-image: url(~/Content/storage/flash-sales/1.jpg);">
                                <div class="deal-top">
                                    <h2 class="text-brand">Deal of the Day.</h2>
                                    <h5>Limited quantities.</h5>
                                </div>
                                <div class="deal-content">
                                    <h6 class="product-title"><a href="products/boxed-bluetooth-headphone.html">Boxed - Bluetooth Headphone</a></h6>
                                    <div class="product-price">
                                        <span class="new-price">4,990,965₫</span>
                                        <span class="old-price">11,091,034₫</span>
                                    </div>
                                </div>
                                <div class="deal-bottom">
                                    <p>Hurry Up! Offer End In:</p>
                                    <div class="deals-countdown" data-countdown="2021/12/21"></div>
                                    <a href="products/boxed-bluetooth-headphone.html" class="btn hover-up">Shop Now <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div>
            <section class="banners pt-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-img banner-big wow fadeIn animated">
                                <img src="~/Content/storage/promotion/6.png" alt="Repair Services">
                                <div class="banner-text">
                                    <h4 class="mb-15 mt-40 text-white">Repair Services</h4>
                                    <h2 class="fw-600 mb-20 text-white">
                                        We're an Apple<br />
                                        Authorised Service Provider
                                    </h2>
                                    <a href="products.html" class="btn">
                                        Learn more <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><div>
            <section class="section-padding-60" id="featured-brands">
                <div class="container">
                    <h3 class="section-title style-1 mb-30 wow fadeIn animated">Featured Brands</h3>
                    <featured-brands-component url="index.html"></featured-brands-component>
                </div>
            </section>
        </div>













    </main>
@Html.Action("partialcat", "Homeindex")




<script type="69d7f599ba948242271bae0a-text/javascript">
    window.currencies = {"display_big_money":false,"billion":"billion","million":"million","is_prefix_symbol":1,"symbol":"$","title":"USD","decimal_separator":".","thousands_separator":",","number_after_dot":2,"show_symbol_or_title":true};
</script>
<link media="all" type="text/css" rel="stylesheet" href="~/vendor/core/plugins/simple-slider/libraries/owl-carousel/owl.carouself700.css?v=1.0.1">
<link media="all" type="text/css" rel="stylesheet" href="~/vendor/core/plugins/simple-slider/css/simple-sliderf700.css?v=1.0.1">
<script src="~/Content/js/vendor/modernizr-3.6.0.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/vendor/jquery.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/vendor/jquery-migrate.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/vendor/bootstrap.bundle.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/slick.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/jquery.syotimer.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/wow.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/waypoints.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/jquery.countdown.min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/scrollup.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/plugins/jquery.vticker-min.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/backenda474.js?v=1.5.1" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/componentsa474.js?v=1.5.1" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/js/maina474.js?v=1.5.1" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/vendor/core/plugins/ecommerce/js/change-product-swatchesa474.js?v=1.5.1" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/vendor/core/plugins/simple-slider/libraries/owl-carousel/owl.carouself700.js?v=1.0.1" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/vendor/core/plugins/simple-slider/js/simple-sliderf700.js" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/vendor/core/plugins/cookie-consent/js/cookie-consente209.js?v=1.0.0" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/vendor/core/plugins/language/js/language-publice209.js?v=1.0.0" type="69d7f599ba948242271bae0a-text/javascript"></script>
<script src="~/Content/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="69d7f599ba948242271bae0a-|49" defer=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom4/2.1.6/dom4.js" integrity="sha512-b/nKdtywl8fdwZ99f6ZE/3jezIJW46DNgpeEEHadG5fChYfCGqG5kN0dpemBjTVHzUbHpwCLEO+q5NP3trm1Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>