

@using WebApplication21.Models;
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<products>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Shared/layoutviews.cshtml";
}
<script src="~/Content/js/JavaScript.js"></script>

<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="header-wrap header-space-between">
            <div class="logo logo-width-1">
                <a href="~/Homeindex/Index"><img src="~/Content/storage/general/logom.png" alt="Device Raptors"></a>
            </div>
            @Html.Action("parcat", "Homeindex")
            <div class="header-action-right">
                <div class="header-action-2">


                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/basket/Index">
                            <img alt="Cart" src="~/Content/images/icons/icon-cart.svg">
                          
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <a href="~/basket/Index" class="text-center" style="font-weight:bolder; color: var(--color-warning)">Let's see your basket</a>
                        </div>
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/customerpanel/Index">
                            <img alt="Sign In" src="~/Content/images/icons/icon-user.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom header-bottom-bg-color sticky-bar gray-bg sticky-blue-bg">
    <div class="container">
        <div class="header-wrap header-space-between position-relative main-nav">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="index.html"><img src="~/Content/storage/general/logo-light.png" alt="Device Raptors"></a>
            </div>
            <div class="main-categories-wrap d-none d-lg-block">
                <a class="categories-button-active cant-close" href="#">
                    <span class="fa fa-list"></span> Browse Categories <i class="down far fa-chevron-down"></i> <i class="up far fa-chevron-up"></i>
                </a>
                @Html.Action("parcat11", "Homeindex")
            </div>

            <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block main-menu-light-white hover-boder hover-boder-white">
                <nav>
                    <ul>
                        <li class="">
                            <a href="~/Homeindex/Index" class="active" target="_self">
                                Home
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Homeindex/Shop" target="_self">
                                Shop
                            </a>

                        </li>


                        <li class="">
                            <a href="~/Homeindex/contact" target="_self">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="hotline d-none d-lg-block">
                <p><i class="fa fa-phone-alt"></i><span>Hotline</span> 1900 - 888</p>
            </div>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">

                    @*<div class="header-action-icon-2">
                            <a href="wishlist.html">
                                <img alt="wowy" src="~/Content/images/icons/icon-heart-white.svg">
                                <span class="pro-count white"> <span>0</span></span>
                            </a>
                        </div>*@
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="~/customersale/Index">
                            <img alt="wowy" src="~/Content/images/icons/icon-cart-white.svg">
                            <span class="pro-count white">0</span>
                        </a>
                        @*<div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <span>No products in the cart.</span>
                            </div>*@
                    </div>
                    <div class="header-action-icon-2">
                        <a href="~/Homeindex/login">
                            <img alt="wowy" src="~/Content/images/icons/icon-user-white.svg">
                        </a>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </header>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="~/homeindex/Index" itemprop="item" title="Home">
                    Home
                    <meta itemprop="name" content="Home" />
                    <meta itemprop="position" content="1" />
                </a>
                <span></span>
                Products
                <meta itemprop="name" content="Products" />
                <meta itemprop="position" content="2" />
            </div>
        </div>
    </div>
    <section class="mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div class="widget-area">

                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10" style="height:250px; border:none">

                        </div>
                        @*<div class="sidebar-widget widget_categories mb-50 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Manufacturers</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div>
                                <ul class="categor-list">
                                    <li class="cat-item text-muted"><a href="brands/perxsion.html">Perxsion</a>(3)</li>
                                    <li class="cat-item text-muted"><a href="brands/hiching.html">Hiching</a>(0)</li>
                                    <li class="cat-item text-muted"><a href="brands/kepslo.html">Kepslo</a>(3)</li>
                                    <li class="cat-item text-muted"><a href="brands/groneba.html">Groneba</a>(3)</li>
                                    <li class="cat-item text-muted"><a href="brands/babian.html">Babian</a>(6)</li>
                                    <li class="cat-item text-muted"><a href="brands/valorant.html">Valorant</a>(8)</li>
                                    <li class="cat-item text-muted"><a href="brands/pure.html">Pure</a>(1)</li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="col-lg-9">

                    <div class="products-listing position-relative">
                        <div class="list-content-loading">
                            <div class="half-circle-spinner">
                                <div class="circle circle-1"></div>
                                <div class="circle circle-2"></div>
                            </div>
                        </div>
                        <div class="shop-product-filter">
                            <div class="totall-product">
                                @Html.Action("prodcount", "Homeindex")
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10 products_sortby">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fa fa-th"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 12 <i class="far fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown products_ajaxsortby" data-name="num">
                                        <ul>
                                            <li>
                                                <a data-label="12" class=" active " href="productsca2f.html?layout=product-left-sidebar&amp;num=12">12</a>
                                            </li>
                                            <li>
                                                <a data-label="24" class="" href="productsc09b.html?layout=product-left-sidebar&amp;num=24">24</a>
                                            </li>
                                            <li>
                                                <a data-label="36" class="" href="productscf07.html?layout=product-left-sidebar&amp;num=36">36</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover products_sortby">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fa fa-sort-amount-down"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span><span>Default</span> <i class="far fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown products_ajaxsortby" data-name="sort-by">
                                        <ul>
                                            <li>
                                                <a data-label="Default" class=" active " href="productsc131.html?layout=product-left-sidebar&amp;sort-by=default_sorting">Default</a>
                                            </li>
                                            <li>
                                                <a data-label="Oldest" class="" href="products6771.html?layout=product-left-sidebar&amp;sort-by=date_asc">Oldest</a>
                                            </li>
                                            <li>
                                                <a data-label="Newest" class="" href="products9a2a.html?layout=product-left-sidebar&amp;sort-by=date_desc">Newest</a>
                                            </li>
                                            <li>
                                                <a data-label="Price: low to high" class="" href="products8cef.html?layout=product-left-sidebar&amp;sort-by=price_asc">Price: low to high</a>
                                            </li>
                                            <li>
                                                <a data-label="Price: high to low" class="" href="productsb688.html?layout=product-left-sidebar&amp;sort-by=price_desc">Price: high to low</a>
                                            </li>
                                            <li>
                                                <a data-label="Name: A-Z" class="" href="productsff29.html?layout=product-left-sidebar&amp;sort-by=name_asc">Name: A-Z</a>
                                            </li>
                                            <li>
                                                <a data-label="Name : Z-A" class="" href="productsf251.html?layout=product-left-sidebar&amp;sort-by=name_desc">Name : Z-A</a>
                                            </li>
                                            <li>
                                                <a data-label="Rating: low to high" class="" href="products74a0.html?layout=product-left-sidebar&amp;sort-by=rating_asc">Rating: low to high</a>
                                            </li>
                                            <li>
                                                <a data-label="Rating: high to low" class="" href="productsf332.html?layout=product-left-sidebar&amp;sort-by=rating_desc">Rating: high to low</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="page" data-value="1">
                        <input type="hidden" name="sort-by" value="">
                        <input type="hidden" name="num" value="">
                        <div class="row">

                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-4">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="~/productview/Index/@item.productsid">
                                                    <img class="default-img" src="@item.productimg" alt="Smart Home Speaker">
                                                    <img class="hover-img" src="@item.productimg" alt="Smart Home Speaker">
                                                </a>
                                            </div>

                                            <div class="product-badges product-badges-position product-badges-mrg">
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="~/Homeindex/prodcat/@item.Categoryid">@item.Categoryname</a>
                                            </div>
                                            <h2><a href="~/productview/Index/@item.productsid">@item.productsname</a></h2>

                                            <div class="product-price">
                                                <span>$@item.productndprice</span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a href="~/basket/addbasket/@item.productsid">Add to basket</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @Html.PagedListPager((IPagedList)Model, pages => Url.Action("Shop", new { pages })
                            , new PagedListRenderOptions { LiElementClasses = new List<string> { "page-link" } })

                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@Html.Action("partialcat", "Homeindex")

<script src="~/Content/js/maina474.js"></script>
<script src="~/Content/js/plugins/jquery.theia.sticky.js"></script>