@using  WebApplication21.Models
@model List<customer>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Customers</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User NAme</th>
                            <th>USer surname</th>
                            <th>Adress</th>
                            <th>City</th>
                            <th>Mail</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.customerid</td>
                                    <td>@item.customername</td>
                                    <td>@item.customersurname</td>
                                    <td>@item.customeraddress</td>
                                    <td>@item.customercity</td>
                                    <td>@item.customermail</td>
                                    <td>@item.available</td>
                                </tr>
                            }
                        
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
